<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akosha.sample1.restartonforceclose">


    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.example.akosha.sample1.restartonforceclose.OnCloseAlarmReceiver">
            <intent-filter>
                <action android:name=".action.RESPONSE" />
            </intent-filter>
        </receiver>

        <service android:name=".MyIntentService" />

        <service android:name=".StickyService"></service>

        <receiver android:name=".RestartServiceReceiver">
            <intent-filter>
                <action android:name="YouWillNeverKillMe"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>
